@tailwind preflight;

.button {
    @apply .bg-purple .text-white .font-bold .px-4 .py-2 .rounded;
}

.button:hover {
    @apply .bg-purple-dark;
}

.button--pink { @apply .bg-pink; }
.button--teal { @apply .bg-teal; }
.button--red { @apply .bg-red; }

.button--pink:hover {
    @apply .bg-pink-dark
}

.button--teal:hover {
    @apply .bg-teal-dark
}
@tailwind utilities;